@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Pattaya&display=swap');
@font-face {
    font-family: "Kindentosca";
    src: url("../../assets/fonts/Kindentosca.otf") format("opentype");
    }

html {
    scroll-behavior: smooth;
}
.montserrat {
    font-family: 'Montserrat', sans-serif;
}
.Kindentosca {
    font-family: 'Kindentosca', sans-serif;
}
.pattaya {
    font-family: 'Pattaya', sans-serif;
}
.welcome-single-slide .project_title{
    background:rgba(227, 81, 120, 0.7) !important;
}
.instagram_gallery_item .hover_overlay {
    background: rgba(227, 81, 120, 0.7) !important;
}
.worktime {
    font-size: 14px;
    color: #777;
}
.action {
    font-size: 14px;
    color: #fff;
    box-shadow: 0 0 10px 3px rgba(221, 221, 221, 1);
    /* background-color: rgb(216, 43, 107); */
    background-color: rgb(227, 81, 120);
}
.action a {
    text-decoration: underline;
    font-size: 10px;
    color: #fff;
}
.action span {
    font-weight: 500;
}
.action-mobile {
    border-radius: 20px;
    display: none;
}
.mobile-menu {
    display: none;
}
.top-label h1 {
    font-size: 18px;
    font-weight: 500;
    color: #111;
    margin-bottom: 0;
}
.top-nav{
    font-family: 'Montserrat', sans-serif;
    height: 80px;
}
.top-logo img {
    width: 200px;
}
.tg, .wa {
    width: 30px;
}
.top-mail {
    color: #777;
    font-size: 14px;
}
.divider {
    padding-top: 10px;
    border-bottom: 1px solid #d6d6d6;
}
.top-phone a {
    font-size: 17px;
    font-weight: 700;
    color:#333;
    text-decoration: none;
}
.down-nav {
    font-family: 'Montserrat', sans-serif;
}
.nav-link {
    font-family: 'Montserrat', sans-serif;
}
.down-nav a {
    color: #333;
    text-decoration: none;
}
.down-nav a:hover {
    color: rgb(227, 81, 120);
    text-decoration: none;
}
.org-link {
    box-shadow: 0 0 10px 3px rgba(221, 221, 221, 1);
}
.org-link a {
    color: #777;
    
}
.org-link a:hover {
    color: #fc6c3f;
}
.promo {
    height: 500px;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('../../assets/img/core-img/promo.jpg') center/cover;
}
.promo-wrapper {
    display: flex;
    height: 100%;
}
.promo-text {
    color: #fff;
    font-weight: 400;
    font-family: 'Kindentosca', 'Montserrat', sans-serif;
}
.promo-descr {
    color: #fff;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}
.promo-left {
    width: 50%;    
    position: relative;
}
.promo-left-text {
    position: absolute;
    top:auto;
    right: 0;
    bottom: 0;
    left: auto;  
    font-size: 50px;
   
}
.promo-right {
    width: 50%;    
    position: relative;
}
.promo-right-text {
    position: absolute;
    top:0;
    right: auto;
    bottom: auto;
    left: 0;  
    font-size: 50px;
   
}
.service-link:hover {
    transition: 0.5s all;
    box-shadow:0 0 10px 3px rgb(206, 206, 205);
}
.service-link:hover .menu-btn {
    color: rgb(210, 30, 72);
}
.menu-btn {
    color: #777;
    font-weight: 400;
}
.blur {
    backdrop-filter: blur(5px);
    border-radius: 10px;
}

.header_area {
    margin-top: 5px;
    margin-bottom: 30px;
}

.call-link {
    border-radius: 20px !important;
}

.header-title {
    padding: 25px;
    font-weight: 400;
    font-size: 20px !important;
    color: #222;
}
.header-title h1 {
    font-size: 16px !important;
    margin-bottom: 0 !important;    
    font-family: 'Pattaya', sans-serif;
    color: #111;
}
.header-title img {
    width: 100%;
}
.header-phone {
    height: 100% !important;
    font-size: 18px !important;
    padding: 10px !important;
    margin: 0 !important;
    border-radius: 20px !important;
}
.header-wrapper {
    box-shadow: 0 0 10px 3px rgba(221, 221, 221, 1) !important;
    border-radius: 20px !important;
}
.logo {
    height: 100%;
    margin: 30px 10px;
}
.logo img {    
    max-width: 500px;
    max-height: 200px;
    object-fit: contain;
}
.top-title {
    font-size: 18px;
    font-weight: 500;
}
.top-title:hover {
    color:#fc6c3f;
}

.counter_area {
    padding-bottom: 30px;
}
.counter__wrapper {
    background-color: rgb(247, 247, 247);
    background-color: #fff;
    border-radius:20px; 
    display: flex;
    margin: auto;
    box-shadow: 0 0 10px 3px rgba(221, 221, 221, 1);
}

.counter__item {
    padding: 10px;
}

.counter__title {
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
    color:rgb(110, 110, 110);
    padding-left: 0;
    padding-right: 0;
}
.counter__title h5 {
    font-weight: 600;
    color:#fc6c3f;

}

.counter__number {
    font-weight: 600;
    font-size: 45px;
    color: rgb(227, 81, 120);
}

.partners-thumb {
    margin-bottom: 30px;
}

.partners-thumb img {
    max-width: 100%;
}

.service-item {
    padding: 10px;       
    background-color: rgb(247, 247, 247);
    background:#fff;
    box-shadow: 0 0 10px 3px rgba(221, 221, 221, 1);
    border-radius: 20px;
}
.service-title {
    padding-top: 0px;
    border-radius: 10px;
}
.service-title h6 {
    font-size: 20px;
}
.service-wrapper {
    margin-bottom: 10px;
}
.service-item {

}
.advantages-item {
        background:rgb(247, 247, 247);
        background:#fff;
        padding: 20px;
        border-radius: 20px;
        margin-bottom: 20px;
        box-shadow: 2px 2px 10px 1px rgba(221, 221, 221, 1);
}
.advantages-title h6 {
    font-size: 20px;
    font-weight: 700;
    color:rgb(90, 90, 90);
    padding-bottom: 20px;
    /* color:#fc6c3f; */
}
.advantages-wrapper {    
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), url('../../assets/img/core-img/1.jpg') center/auto;
    border-radius: 20px;
    margin-bottom: 20px;
    text-shadow: 0.5px 0.5px 1px black;
}
.order-wrapper {
    margin-bottom: 20px;
}
.order-item {
    background:rgb(247, 247, 247);
    background:#fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px 3px rgba(221, 221, 221, 1);
}
.order-title h6 {
    font-size: 20px;
    font-weight: 700;
    color:rgb(90, 90, 90);
    padding-bottom: 20px;
}
.order-number {
    font-size: 40px;
    font-weight: 700;
    color:rgb(227, 81, 120);
}
.form-wrapper {    
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)), url('../../assets/img/form-img/fish2.jpg') center/cover;
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
}
.form-item {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
.form-input {
    margin-bottom: 3px;
    height: 40px;
    padding-left: 5px;
    padding-right: 5px;
}
.form-maintitle h2 {
    margin-bottom: 0;
    color: #232d37;
    font-size: 18px;
    font-weight: 500;
    border-radius: 20px;
    background: rgba(255, 255, 255, .7); 
    padding: 10px;
}
.form-title {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 10px;
}
.form-title h5 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    padding-top: 25px;
    padding-bottom: 25px;
}
.form-btn {
    padding: 5px;
    background: rgb(36, 193, 65);
    font-weight: 500;
}
.form-btn:hover {
    /* background: rgba(252, 108, 63, 0.7); */
    background: rgb(32, 165, 57);
    cursor: pointer;
}
.partners-wrapper {
    background-color: #fff;
    margin-bottom: 15px;
    box-shadow: 2px 2px 10px 3px rgba(221, 221, 221, 1);
    
}
.footer-wrapper {
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer-list {
    padding: 5px;
}
.footer-item {
    margin-bottom: 5px;
    color: rgb(110, 110, 110);
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
}
.footer-item a {
    color: rgb(110, 110, 110);
    line-height: 18px;
    font-weight: 400;
}
.footer-item a:hover {
    color:#fc6c3f;
}
.footer-item h5 {
    margin-top: 10px;
    font-size: 15px;
    color: rgb(60, 60, 60);
    margin-bottom: 5px;
}
.footer-phone {
    color: rgb(60, 60, 60);
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
}
.footer-logo img {    
    max-width: 180px;
    max-height: 80px;
    object-fit: contain;
    margin-top: 5px;
    margin-bottom: 5px;
}
.label_menu {
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}
.label_menu_furshet {
    background: linear-gradient(135deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('../../assets/img/catalog-img/4.jpg') center/cover;
}
.label_menu_banket {
    background: linear-gradient(135deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('../../assets/img/catalog-img/1.jpg') center/cover;
}
.label_menu_sets {
    background: linear-gradient(135deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('../../assets/img/catalog-img/2.jpg') center/cover;
}
.label_menu_gallery {
    background: linear-gradient(135deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('../../assets/img/catalog-img/2.jpg') center/cover;
}
.label_menu :hover {
    cursor: auto;
}
.catalog-wrapper {
    background-color: rgb(247, 247, 247);
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 0 10px 3px rgba(221, 221, 221, 1);
    margin-bottom: 20px;
}
.catalog-item {
    margin-bottom: 20px;
    padding-left: 20px;
}
.catalog-name {
    font-size: 17px;
    font-weight: 600;
    color: rgb(60, 60, 60);
    padding: 0;
    color:rgb(93, 69, 107);
    p {
        color:rgb(93, 69, 107);
    }
}
.catalog-descr {
    padding: 0;
    font-size: 15px;    
    color: rgb(110, 110, 110);
    color:rgb(139, 113, 155);
}
.catalog-price {
    font-size: 15px;
    color: rgb(110, 110, 110);
    color:rgb(139, 113, 155);
}
.catalog-id {
    font-size: 15px;    
    color: rgb(110, 110, 110);
    color:rgb(139, 113, 155);
}
.catalog-catagory-name {
    color:rgb(124, 91, 143);
    color:rgb(93, 69, 107);
}
.wa-wrapper {
    color:#fff;
    background: rgb(36, 193, 65);
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
}
.wa-wrapper img {
    height: 40px;
    margin-right: 5px;
}
.wa-wrapper:hover {
    background: rgb(32, 165, 57);
}
.call-wrapper-main {
    color:#fff;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    background: rgb(36, 193, 65);
}
.call-wrapper-main img {
    height: 40px;
    margin-right: 5px;
}
.call-wrapper-main:hover {
    background: rgb(32, 165, 57);
}
.call-wrapper {
    color:#333;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    box-shadow: 0 0 10px 3px rgba(221, 221, 221, 1);
}
.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0,0,0, .56);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 200px;
    background-color: #fff;
    padding: 45px 30px 30px 30px;
    z-index: 20;
}
.modal-text {
    text-align: center;
}
.modal-text a {
         font-weight: 500;
            text-decoration: none;
            color: rgb(20, 123, 197);
}
.modal-close {
        position: absolute;
        top: 5px;
        right: 20px;
        font-size: 30px;
        cursor: pointer;
}
.modal-okay {
    width: 50px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    text-align: center;
    line-height: 34px;
    cursor: pointer;
}
#thanks_modal {
    display: none;
}
.logo-img {
    padding-top: 10px;
    padding-bottom: 10px;
}
.phone_header {
    font-size: 15px;
    font-weight: 500;
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: end;
    color: #212529;
}
.phone_header:hover {
    color: #fc6c3f;
}


.top_area {
    padding-top: 5px;
    border-bottom: 1px solid #ebebeb;
}
.set-catagory-name {
    color:rgb(139, 113, 155);
    color:#fc6c3f;
    color:rgb(93, 69, 107);
}
.set-catalog-name {
    color:rgb(139, 113, 155);
}
.bwg-item {
    margin-bottom: 10px !important;
}

.bwg-title2 {
    font-family: 'Pattaya', Arial !important;
    font-size: 18px !important;
    font-weight: 500 !important;
    background-color: #fc6c3f !important;
    color: #fff !important;
}
.bwg_back_0 {
    font-family: 'Roboto', Arial !important;
    padding: 7px !important;
    border-radius: 7px;
    background-color: #fc6c3f !important;
    color: #fff !important;
}

.dropdown-menu {
    font-family: 'Montserrat', sans-serif;
}
.nav-link {
    font-family: 'Montserrat', sans-serif;
    padding: 15px !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    color: #333 !important;
    /* color: rgb(93, 69, 107) !important; */
}
.widget-title {    
    background-color:#fff;
    box-shadow: 2px 2px 10px 3px rgba(221, 221, 221, 1);
}
.widget-title h6 {    
    background-color:#fff;
}
.grecaptcha-badge {
  visibility:hidden;
}
.rules_area {
    margin-top: 20px;
}
.rules-name {
    margin-bottom: 10px;
}
.rules-descr {
  font-size: 15px;
}
.payment {
    background-color: #fff;
    box-shadow: 0 0 10px 3px rgba(221, 221, 221, 1);
  border-radius: 20px;
}
.header-org-btn {
    color:#fff;
    background-color: rgb(139, 113, 155);
    margin-bottom: 10px !important;
    font-family: 'Montserrat', sans-serif !important;
}
.header-org-btn:hover{
    background-color: rgb(137, 82, 172);
}
.org-link {
    border-radius: 20px;
}
.coop-input {
    height: 20px;
}
.catalog-descr a {
    color:rgb(139, 113, 155);
}
.wpcf7-response-output {
    color: #000 !important;
}