@media (min-width: 992px) and (max-width: 1199px) {

    .post-author a,
    .post-date a,
    .post-favourite a,
    .post-comments a,
    .post-share a {
        font-size: 12px;
    }

    .nav-link {
        padding: 8px !important;
    }

}

@media (min-width: 767px) and (max-width: 991px) {

    .post-author a,
    .post-date a,
    .post-favourite a,
    .post-comments a,
    .post-share a {
        font-size: 12px;
    }

    .top-label h1 {
        font-size: 14px;
    }

    .footer_area {
        margin-bottom: 0;
    }

    .header-title-img {
        display: flex;
        margin: 0 auto;
        width: 100%;
        padding: 5px;
    }

    .header-title h1 {
        font-size: 24px !important;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .wow {
        animation-name: none !important;
        visibility: visible !important;
    }

    .mobile-menu {
        display: block;
    }
    .action-mobile {
        display: block;
    }
    .pc-menu {
        display: none;
    }

    .slideup {
        opacity: 0;
        position: fixed;
        right: 12px;
        bottom: 12px;
        width: 50px;
    }

  

    .top-title {
        font-size: 15px;
    }
    .top-phone {
        margin-left: 5px;
    }
    .top-phone a {
        font-size: 17px;
    }
    .promo {
        height: 100vh;
        background: linear-gradient(135deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('../../../assets/img/core-img/promo2-a.jpg') center/cover;
    }
    .promo-wrapper {
        flex-direction: column;
    }
    .promo-descr {
        font-size: 14px;
    }
    .promo-left {
        width: 100%;
        height: 100%;    
        position: relative;
    }
    .promo-left-text {
        position: absolute;
        top:10px;
        right: 0;
        bottom: auto;
        left: auto;  
        font-size: 30px;       
    }
    .promo-right {
        width: 100%;
        height: 100%;    
        position: relative;
    }
    .promo-right-text {
        position: absolute;
        top:10px;
        right: auto;
        bottom: auto;
        left: 0;  
        font-size: 30px;
       
    }
    .mobile-hide {
        display: none;
    }
    .catalog-name {
        font-size: 14px;
    }

    .catalog-price {
        font-size: 12px;
    }

    .catalog-descr {
        font-size: 12px;
    }

    .call-wrapper {
        display: block;
        box-shadow: none;
    }

    .post-author a,
    .post-date a,
    .post-favourite a,
    .post-comments a,
    .post-share a {
        font-size: 12px;
    }

    .post-favourite a,
    .post-comments a {
        margin-right: 7.5px;
    }

    .post-author a,
    .top_header_area .top_social_bar>a {
        margin-right: 15px;
    }

    .post-author a::after {
        right: -7px;
    }

    .footer-social-area .single-icon span {
        display: none;
    }

    .footer-social-area .single-icon:last-of-type>a>i {
        padding-right: 0;
    }

    .top_header_area .signup-search-area .search_button {
        margin-left: 15px;
    }

    .footer_area .navbar-toggler {
        margin-bottom: 0;
    }

    .pagination-area .page-status {
        margin-top: 30px;
    }

    #googleMap {
        height: 300px;
    }

    .comment-wrapper .comment-author {
        width: 50px;
        height: 50px;
        margin-right: 10px;
    }

    .single_comment_area::after {
        display: none;
    }

    .single_comment_area ol li.single_comment_area {
        margin-left: 30px;
    }

    .single_comment_area ol li.single_comment_area .comment-wrapper .comment-author {
        margin-right: 10px;
    }

    .single_comment_area ol li.single_comment_area {
        margin-left: 15px;
    }

    .rules-descr {
        font-size: 14px;
    }

    .rules-name {
        font-size: 16px;
    }

    .call-wrapper-mobile {
        display: none !important;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    #googleMap {
        height: 400px;
    }

    .call-wrapper-mobile {
        display: none !important;
    }
}